.nav-bar 
{
    
    width: 152px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    min-height: 500px;
    margin-left: -150px;
    

}

.logo {

    display: block;
    padding: 8px 0;

    img {
        display: block;
        margin: 200px auto;
        width: 50px;
        height: 50px;
    }
}